body {
    margin: 0;
    padding: 0;
    background-color: var(--tg-theme-bg-color);
}

p {
    color: var(--tg-theme-text-color);
}

button {
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
}

h1 {
    color: red;
}

